.parent{
    padding: 5px;
    background-color: #00AAFF;
    position: relative;
    height: 200vh;
}

.child {
    padding: 5px;
}

.child-one{
  background-color: rgb(116, 225, 116);
  /* Like absolute but don't depend on parent */
  position: fixed;
  top: 0px;
}

.child-two{
  background-color: rgb(248, 117, 117);
}

.child-three{
  background-color: rgb(225, 116, 232);
}